.container {
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-gap: 30px; 
    background-color: lightblue;
    padding: 20px;
    text-align: center;
  }
  
  .container>div{ 
     background-color: #567;
     border:5px solid orangered; 
     color:aliceblue; 
     display: grid;
     align-items:center;
   } 

  .container>div:nth-child(4){
    transform:skewX(40deg);
    

  }
 