 /**
     /* background-color: bisque; */
     /* background-image: url("data:image")
    background-repeat: no-repeat; }
/* background-image: linear-gradient(red,blue);
background image:linear - gradient(to right,red,blue)
background iamge:linear - gradient(90deg,red,blue)} 



/* .font{ */
     /* font-size: xx-large; */
     /* font-family: 'Times New Roman', Times, serif; */
     /* font-variant: small-caps; */
     /* font-style: italic;}  */

     /* .font{ */
     /* font: italic small-caps bold 28px/38px times; */
     /* } */

     /* 
body{
    background-image: radial-gradient(red,yellow,green);
 } 
  */

     /* body{
    background-image: radial-gradient(to right,red,yellow,green);
} */

/* body{ *
         background-image: linear-gradient(90deg, red, yellow, green);
         /* background-repeat: no-repeat;} */
/* body{ */
    /* background-repeat: repeat-x; */ 
/* } */

.box{
    border: 2px solid black;
    margin: 250px  ;
    border-left-style: dotted;
    border-top-style: dashed;
    border-bottom-color: red;
    
}