body{
   background-color: pink;
}
.div,p{
    border: 2px solid;
    text-align: center;
    width: 40%;
    position: relative;
    left: 30%;
    margin-bottom: 30px;
    padding: 15px;
    border-radius: 20px;
    background-color: rgb(245, 15, 53);
    color: white;
    box-sizing: border-box;   
    font-weight: bolder; 
    font-size: larger;
    text-decoration: none;

    
}
.red,h1{
text-align: center;
}